<a href="https://colab.research.google.com/github/arpit-parejiya01/practice/blob/main/python-practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = 1234
rev_str = ""
for i in str(s):
  rev_str = i+rev_str

print(rev_str)

4321

In [ ]:
name = "arpit"

def fun():
  print("my name is " + name)
fun()

my name is arpit

In [ ]:
a = "arpit"
for i in a[::-1]:
  print(i,end='')

tipra

In [ ]:
mylist = ["arpit","akash"]
print(len(mylist[0]))

5

In [ ]:
mylist = ["arpit",34,True,bool]
print(type(mylist))

<class 'list'>

In [ ]:
mylist = ["arpit",34,True,bool]
for i in mylist:
  print(i)

arpit
34
True
<class 'bool'>

In [ ]:
mylist = ["arpit",34,True,bool]
mylist[3] = "akash"
print(mylist)

['arpit', 34, True, 'akash']

In [ ]:
mylist = ["name","age"]
i=0
while i<len(mylist):
  print(mylist[i])
  i = i+1

name
age

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
new = []
new1 = []
for i in a:
  if i % 2 == 0:
    new.append(i)
  else:
    new1.append(i)
print(new)
print(new1)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
for i in range(1,51):

  if i == 25:
     break
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [ ]:
def multi(x,y):
  return x*y
multi(5,3)

15